language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"

install:
  - "pip install -rrequirements.txt"
script:
  - "coverage run $(which py.test) ."
after_success:
  - "coveralls"
  
notifications:
  email: false
  irc:
    channels:
    - chat.freenode.org#parsley
    on_success: always
    on_failure: always
    use_notice: true
